# requirements-dev.txt
#
# Copyright (C) 2022-2023 Franco Masotti (see /README.md)
#
# This file is part of md-toc.
#
# md-toc is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# md-toc is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with md-toc.  If not, see <http://www.gnu.org/licenses/>.
#


# Demo.
asciinema>=2,<3
build>=1.0,<1.1
pre-commit>=3,<4
# Documentation.
sphinx-book-theme>=1.0,<1.1
sphinx-copybutton>=0.5,<0.6

# Unit tests, see `[tox:tox]` section in setup.cfg.

# Tools.
tox>=4,<5
twine>=4,<5
